<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aihub.mapper.ChatInfoMapper">
    <select id="findAllChatInfos" resultType="ChatInfo">
        SELECT
            `id`, `user_id`, `content`
        FROM
            `chatinfo`
    </select>

    <select id="findChatInfoById" resultType="ChatInfo">
        SELECT
            `id`, `user_id`, `content`
        FROM
            `chatinfo`
        WHERE
            `id` = #{id}
    </select>

    <select id="findChatInfosByUserId" resultType="ChatInfo">
        SELECT
            `id`, `user_id`, `content`
        FROM
            `chatinfo`
        WHERE
            `user_id` = #{userId}
    </select>

    <insert id="insertChatInfo" parameterType="ChatInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            `chatinfo`(`user_id`, `content`)
        VALUES
            (#{userId}, #{content})
    </insert>

    <update id="updateChatInfo" parameterType="ChatInfo">
        UPDATE
            `chatinfo`
        SET
            `content` = #{content}
        WHERE
            `id` = #{id}
    </update>

    <delete id="deleteChatInfo">
        DELETE FROM
            `chatinfo`
        WHERE
            `id` = #{id}
    </delete>
</mapper>