<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aihub.mapper.ChatInfoMapper">
    <resultMap id="chatinfoResultMap" type="ChatInfo">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="content" column="content" />
        <result property="topic" column="topic" />
        <!-- typeHandler 不能使用短类名 -->
        <result property="model" column="model" typeHandler="com.example.aihub.handler.ModelTypeHandler" javaType="ModelType" />
    </resultMap>
    <resultMap id="chatmetaResultMap" type="ChatMeta">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="topic" column="topic" />
        <!-- typeHandler 不能使用短类名 -->
        <result property="model" column="model" typeHandler="com.example.aihub.handler.ModelTypeHandler" javaType="ModelType" />
    </resultMap>
    <select id="findAllChatInfos" resultMap="chatinfoResultMap">
        SELECT
            `id`, `user_id`, `content`, `topic`, `model`
        FROM
            `chatinfo`
    </select>

    <select id="findChatInfoById" resultMap="chatinfoResultMap">
        SELECT
            `id`, `user_id`, `content`, `topic`, `model`
        FROM
            `chatinfo`
        WHERE
            `id` = #{id}
    </select>

    <select id="findChatInfosByUserId" resultMap="chatinfoResultMap">
        SELECT
            `id`, `user_id`, `content`, `topic`, `model`
        FROM
            `chatinfo`
        WHERE
            `user_id` = #{userId}
    </select>

    <select id="findChatMetasByUserId" resultMap="chatmetaResultMap">
        SELECT
            `id`, `user_id`, `topic`, `model`
        FROM
            `chatinfo`
        WHERE
            `user_id` = #{userId}
    </select>

    <insert id="insertChatInfo" parameterType="ChatInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            `chatinfo`(`user_id`, `content`, `topic`, `model`)
        VALUES
            (#{userId}, #{content}, #{topic}, #{model})
    </insert>

    <update id="updateChatInfo" parameterType="ChatInfo">
        UPDATE
            `chatinfo`
        SET
            `content` = #{content}
        WHERE
            `id` = #{id}
    </update>

    <delete id="deleteChatInfo">
        DELETE FROM
            `chatinfo`
        WHERE
            `id` = #{id}
    </delete>

    <select id="findStarredChatInfosByUserId" resultMap="chatinfoResultMap">
        SELECT
            `chatinfo`.`id`,
            `chatinfo`.`user_id`,
            `chatinfo`.`content`,
            `chatinfo`.`topic`,
            `chatinfo`.`model`
        FROM
            `chatinfo`
        INNER JOIN `star` ON `chatinfo`.`id` = `star`.`chatinfo_id`
        WHERE
            `chatinfo`.`user_id` = #{id};
    </select>

    <select id="findStarredChatMetasByUserId" resultMap="chatmetaResultMap">
        SELECT
            `chatinfo`.`id`,
            `chatinfo`.`user_id`,
            `chatinfo`.`topic`,
            `chatinfo`.`model`
        FROM
            `chatinfo`
        INNER JOIN `star` ON `chatinfo`.`id` = `star`.`chatinfo_id`
        WHERE
            `chatinfo`.`user_id` = #{id};
    </select>

    <select id="findUserIdById">
        SELECT
            `user_id`
        FROM
            `chatinfo`
        WHERE
            `id` = #{id}
    </select>

    <select id="findStarIdByChatInfoId">
        SELECT
            `id`
        FROM
            `star`
        WHERE
            `chatinfo_id` = #{chatInfoId};
    </select>
</mapper>