<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aihub.mapper.ChatInfoMapper">
    <select id="findAllChatInfos">
        SELECT
            `id`, `user_id`, `content`
        FROM
            `chatinfo`
    </select>

    <select id="findChatInfoById">
        SELECT
            `id`, `user_id`, `content`
        FROM
            `chatinfo`
        WHERE
            `id` = #{id}
    </select>

    <select id="findChatInfosByUserId">
        SELECT
            `id`, `user_id`, `content`
        FROM
            `chatinfo`
        WHERE
            `user_id` = #{userId}
    </select>
</mapper>