<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aihub.mapper.UserMapper">
    <select id="findAllUsers" resultType="User">
        SELECT
            `id`, `account`, `password`, `api_key`
        FROM
            `user`
    </select>
    <select id="findUserById" resultType="User">
        SELECT
            `id`, `account`, `password`, `api_key`
        FROM
            `user`
        WHERE
            `id` = #{id}
    </select>

    <select id="findUserByAccount" resultType="User">
        SELECT
            `id`, `account`, `password`, `api_key`
        FROM
            `user`
        WHERE
            `account` = #{account}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            `user`(`account`, `password`)
        VALUES
            (#{account}, #{password})
    </insert>

    <insert id="insertUserStar" parameterType="Star" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            `star`(`user_id`, `chatinfo_id`)
        VALUES
            (#{userId}, #{chatinfoId})
    </insert>

    <delete id="deleteUserStar" parameterType="Star">
        DELETE FROM
            `star`
        WHERE
            `user_id` = #{userId} AND `chatinfo_id` = #{chatinfoId}
    </delete>

    <update id="updateUserInfo" parameterType="User">
        UPDATE `user`
        <set>
            <if test="password != null and password != ''">
                `password` = #{password},
            </if>
            <if test="apiKey != null and apiKey != ''">
                `api_key` = #{apiKey},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>
</mapper>